body > .container {
    padding: 20px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    width: 100%;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.homepage-header {
    position: relative;
    padding: 30px 0;

    margin: 0 auto 0;
    background-color: #6f5499;
    color: #cdbfe3;
}

.homepage-header h1 {
    font-weight: bold;
    line-height: 1;
    color: #fff
}

.homepage-header p {
    font-size: 16px;
}

.custom-buttons-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.custom-kyua-row {
    margin-top: 30px;
}

.container > h1 {
    border-width: 1px 0 0 0;
    border-style: dashed;
    border-color: #ddd;
    padding-top: 10px;
}
